<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.SellmessageEntityMapper" >
  <resultMap id="BaseResultMap" type="main.java.com.project.entity.SellmessageEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="personalId" property="personalid" jdbcType="INTEGER" />
    <result column="sellId" property="sellid" jdbcType="INTEGER" />
    <result column="sellMessage" property="sellmessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, personalId, sellId, sellMessage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sellmessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sellmessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="main.java.com.project.entity.SellmessageEntity" >
    insert into t_sellmessage (id, personalId, sellId, 
      sellMessage)
    values (#{id,jdbcType=INTEGER}, #{personalid,jdbcType=INTEGER}, #{sellid,jdbcType=INTEGER}, 
      #{sellmessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.project.entity.SellmessageEntity" >
    insert into t_sellmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personalid != null" >
        personalId,
      </if>
      <if test="sellid != null" >
        sellId,
      </if>
      <if test="sellmessage != null" >
        sellMessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personalid != null" >
        #{personalid,jdbcType=INTEGER},
      </if>
      <if test="sellid != null" >
        #{sellid,jdbcType=INTEGER},
      </if>
      <if test="sellmessage != null" >
        #{sellmessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.project.entity.SellmessageEntity" >
    update t_sellmessage
    <set >
      <if test="personalid != null" >
        personalId = #{personalid,jdbcType=INTEGER},
      </if>
      <if test="sellid != null" >
        sellId = #{sellid,jdbcType=INTEGER},
      </if>
      <if test="sellmessage != null" >
        sellMessage = #{sellmessage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.project.entity.SellmessageEntity" >
    update t_sellmessage
    set personalId = #{personalid,jdbcType=INTEGER},
      sellId = #{sellid,jdbcType=INTEGER},
      sellMessage = #{sellmessage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>